soap/mon_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://localhost/WSLego/soap/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  name="mon_service" 
                  targetNamespace="http://localhost/WSLego/soap/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost/WSLego/soap/"/>
            <!-- nothing for this one : no specific types -->
    </wsdl:types>
    <wsdl:message name="countNBvisiteurs_Response">
         <wsdl:part name="nombre" type="xsd:integer"/> 
    </wsdl:message>
    <wsdl:message name="logFluxNBvisiteurs_Request">
         <wsdl:part name="nombre" type="xsd:integer"/> 
    </wsdl:message>
    <wsdl:message name="logFluxNBvisiteurs_Response">
         <wsdl:part name="res" type="xsd:integer"/> 
    </wsdl:message>
    <wsdl:portType name="mon_service_PortType">
        <wsdl:operation name="countNBvisiteurs"> <!-- <===== operation description -->
            <wsdl:output message="tns:countNBvisiteurs_Response"/>
        </wsdl:operation>
        <wsdl:operation name="logFluxNBvisiteurs"> <!-- <===== operation description -->
            <wsdl:input message="tns:logFluxNBvisiteurs_Request"/>
            <wsdl:output message="tns:logFluxNBvisiteurs_Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="mon_service_SOAP" type="tns:mon_service_PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="countNBvisiteurs">
            <soap:operation soapAction="urn:countNBvisiteurs"/>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logFluxNBvisiteurs">
            <soap:operation soapAction="urn:logFluxNBvisiteurs"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="mon_service">
        <wsdl:port binding="tns:mon_service_SOAP" name="mon_service_SOAP">
            <soap:address location="http://localhost/WSLego/soap/mon_service-server.php?wsdl"/> <!-- <===== service endpoint, URL of the PHP script implementing the web service -->
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>